/*classes*/

.block_header {
    background-color: #F2F1ED;
    width: 95%;
    margin: auto;
    padding: 20px;
}

.block_navigation {
    width: 25%;
}

.block_main {
    clear: both;
    background-color: #F2F1ED;
    top: 10%;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    text-align: center;
    height: 500px;
    width: 95%;
}

.block1 {
    margin: auto;
    width: 350px;
    padding: 5px;
}

.table_conf {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 5px;
    padding-right: 20px;
}

.block_button {
    align-content: center;
    bottom: 50px;
    height: 100px;
    margin: auto;
    width: 30%;
    padding: 5px;
}

.nav_text {
    color: lightseagreen;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.warning_text {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: center;
    color: orange;
    font-size: 26px;
}

.home_information {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: large;
    color: #B22222;
}

/*id's*/

#main_page {
    margin: auto;
    padding-top: 20%;
}

/*tags*/

body {
    background-color: #F2F1ED;
}

h1 {
    color: #286e94;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    text-align: center;
}

table {
    background-color: white;
}



