{% extends "basic.html" %}
{% block content %}
    {% load bootstrap3 %}
    {% if user.is_authenticated %}
        <div class="col" align="right">
        <div align="right" class="block_navigation">
            <ol class="breadcrumb">
                <li><a href="{% url 'todo:todo_list' %}"><span class="nav_text">Your lists</span></a></li>
                <li class="active"><span class="nav_text">Create a list</span></li>
            </ol>
        </div>

        <h1>Create a new list</h1>
        <hr width="30%">
        <p></p>

        <div class="block1" align="center">

        {% if form.errors %}
            <div class="alert alert-danger">
                <p>Unable to create a new todo list. Please, fix errors listed below.</p>
            </div>
        {% endif %}

        <form method="post" action="">

        {% bootstrap_form form %}
        {% csrf_token %}
        <a role="button" href="{% url 'todo:todo_list' %}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
        </a>
        <button type="submit" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
        </button>
    {% else %}
        <span class="warning_text">You are not authorized. Access is denied.</span>
    {% endif %}
</form>
</div>
</div>
{% endblock content %}