{% extends "basic.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col" align="right">
            <div align="right" class="block_navigation">
                <ol class="breadcrumb">
                    <li class="active"><span class="nav_text">Your lists</span></li>
                    <li class="active"><span class="nav_text">{{ object.todo_list }}</span></li>
                    <li class="active"><span class="nav_text">{{ object.name_of_todo }}</span></li>
                    <li class="active"><span class="nav_text">Delete a todo</span></li>
                </ol>
            </div>
        </div>
        <h1>Are you sure you want to delete {{ object.name_of_todo }} todo?</h1>
        <hr width="30%">
        <form action="" method="post">
        {% csrf_token %}

        <div class="row" align="center">
            <button type="submit" class="btn btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Yes
            </button>
            <a role="button" href="{% url 'todo:todo_detail' object.todo_list.id object.id %}"
               class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No
            </a>

        </div>
    {% else %}
        <span class="warning_text">You are not authorized. Access is denied.</span>
    {% endif %}
</form>
{% endblock content %}
