{% extends "basic.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="col" align="right">
        <div align="right" class="block_navigation">
            <ol class="breadcrumb">
                <li><a href="{% url 'todo:todo_list' %}"><span class="nav_text">Your lists</span></a></li>
                <li><span class="nav_text">{{ object.todo_list }}</span></li>
                <li class="active"><span class="nav_text">{{ object.name_of_todo }}</span></li>
            </ol>
        </div>
        <h1>{{ object.name_of_todo }}:</h1>
        <hr width="30%">
        <div class="table_conf" align="center">
            {% if object %}
                <table class="table table-bordered">
                    <tr class="warning">
                        <th><p class="text-center">Task</p></th>
                        <th><p class="text-center">Status</p></th>
                        <th><p class="text-center">Date</p></th>
                    </tr>
                    <tr>
                        <td align="center">{{ object.task }}</td>
                        <td align="center">
                            {% if  object.status == True %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td align="center"><p>{{ object.pub_date }}</p></td>
                    </tr>
                </table>
            {% else %}
                <p>No tasks in your todo</p>
            {% endif %}
        </div>
        <p></p>

        <div class="block_button" align="center">
            <a role="button" href="{% url 'todo:todos' object.todo_list.id %}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
            </a>

            <a type="button" href="{% url 'todo:edit_todo' todolist_pk=object.todo_list.id pk=object.id %}"
               class="btn btn-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </a>

            <a type="button" href="{% url 'todo:remove_todo' object.todo_list.id object.id %}"
               class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Todo
            </a>
        </div>
    {% else %}
        <div align="center">
            <span class="warning_text">You are not authorized. Access is denied.</span>
        </div>
    {% endif %}
</div>
{% endblock content %}